name = "cdn-worker"
main = "src/index.ts"
compatibility_date = "2025-02-21"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "riven-assets"

[[routes]]
pattern = "cdn.riven.software" 
custom_domain = true 

[vars]
ALLOWED_ORIGINS = "http://localhost:3000,http://localhost:3001,http://localhost:8081,https://riven.software,https://www.riven.software,https://app.riven.software,https://getriven.io,https://app.getriven.io,https://www.getriven.io"
ALLOWED_REFERERS = "riven.software,www.riven.software,app.riven.software,getriven.io,app.getriven.io,www.getriven.io"

[observability]
[observability.logs]
enabled = false
invocation_logs = true