name = "cdn-worker"
main = "src/index.ts"
compatibility_date = "2025-02-21"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "riven-assets"

[[routes]]
pattern = "cdn.riven.software" 
custom_domain = true 

[vars]
ALLOWED_ORIGINS = "*"
ALLOWED_REFERERS = ""
PATH_PREFIX = ""